<Title:>
    Open Goal Tracker: { _goal.title }

<Body:>
    <app:navBar>
    <div class="container">
        <app:content>
    </div>

<content:>
    <div class="hero-unit">
      <app:breadcrumb>
      <h1 contenteditable>{unescaped _goal.title}</h1>
      <p contenteditable>{unescaped _goal.description}</p>

      <app:goalDetails>

    </div>
    <boot:tabs>
        <boot:tab title="Task board">
            <app:newGoal>
            <app:kanBan>
        </boot:tab>
        <boot:tab title="Reviews and feedback">
            <app:goalReviews>
        </boot:tab>

    </boot:tabs>

<breadcrumb:>
<p>Crumbs: <a href="/users/{{_goal._user.id}}/">{{ _goal._user.name }}</a>
    {#if _goal.parentGoal}
    &rarr; <a href="/goals/{_goal.parentGoal}/">{_goal.parentGoal}</a>
    {/}

<goalDetails:>
<a class="btn btn-primary" x-bind=click:expandDetails>Details &raquo;</a>
<form id=goal-details class="form-horizontal {#if _goal._expandDetails}expanded{else}collapsed{/}">
  <div class="control-group">
    <label class="control-label">Status</label>
    <div class="controls">
        <select>
        {#each _goal._statusChoices}
        <option selected="{equal(this, _goal.status)}">
        {{ this }}
        </option>
        {{/}}
        </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Review every</label>
    <div class="controls">
        <select>
            {#each _goal._reviewPeriods}
            <option selected="{equal(.numDays, _goal.reviewPeriod)}">
                {{ .name }}
            </option>
            {/}
        </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Next Review</label>
    <div class="controls">
        {_goal.nextReview}
    </div>
  </div>
</form>

<goalReviews:>
  <h2>Goal progress</h2>
  <form x-bind=submit:addReview>
    <textarea class=input-xxlarge placeholder="I enjoyed playing for 20mins today with Won" x-webkit-speech>
      {_newReview}
    </textarea>
    <button type=submit class=btn>Add</button>
  </form>
  <ul>{#each _sortedReviewList}<app:progressItem>{/each}</ul>

<progressItem:>
<li>{.timestamp}: {unescaped .comment}</li>

