<!--
-->

<Title:>
  Open Goal Tracker: { _goal.title }

<Header:>
  <ui:connectionAlert>

<Body:>
  <form id=head x-bind=submit:addGoal>
    <h1 contenteditable>{unescaped _goal.title}</h1>
    <div contenteditable>{unescaped _goal.description}</div>
    <h2>Next steps</h2>
    <input id=new-goal value={_newGoal} placeholder="I will play my guitare for 10mins each day" x-webkit-speech>
    <input type=submit value=Add>
  </form>
    {#if _subgoalList}
    <ul>{#each _subgoalList}<app:goal>{/each}</ul>
    {/if}

<goal:>
<li><a href="/goals/{{.id}}/">{unescaped .title}</a></li>
