<Title:>
  Open Goal Tracker: { _goal.title }

<Header:>
  <ui:connectionAlert>

<Body:>
    <div class="page-header">
    <h1 contenteditable>{unescaped _goal.title}</h1>
    <div contenteditable>{unescaped _goal.description}</div>
    </div>
    {#unless _subgoalList}
    <input id=taskOnlyCheck checked={_goal.taskOnly} type=checkbox><label for=taskOnlyCheck>This goal is a simple short-term task.</label>
    {/unless}
    {#unless _goal.taskOnly}
    <form class="navbar-form" x-bind=submit:addGoal>
        <div id=add>
          <input id=new-goal value={_newGoal} placeholder="I will play my guitare for 10mins each day" x-webkit-speech>
          <button type="submit" class="btn">Add</button>
        </div>
    </form>
    <div class="fluid-row">
        <div class="span4 well">
            <h2>To do</h2>
            <ul id=goals>{#each _subgoalList}<app:subGoal>{/each}</ul>
        </div>
        <div class="span4 well">
            <h2>Doing now</h2>
        </div>
        <div class="span4 well">
            <h2>Done</h2>
        </div>
    </div>
    {/unless}

    <app:goalDetails>

    <app:goalReviews>


<subGoal:>
  <li>
    <a href="/goals/{{.id}}/">{unescaped .title}</a>
    <dl>
      <dt>Status:</dt><dd>{.status}</dd>
      <dt>Next review:</dt><dd>{.nextReview}</dd>

    </dl>

  </li>

<goalDetails:>
  <div class="clearfix">
  <h2>Details</h2>
    <dl>
		<dt>Status:</dt>
		<dd>
			<select>
			{#each _statusChoices}
			<option selected="{equal(this, _goal.status)}">
			{{ this }}
			</option>
			{{/}}
			</select>
		</dd>
        <dt>Review every</dt>
        <dd>
            <select>
                {#each _reviewPeriods}
                <option selected="{equal(.numDays, _goal.reviewPeriod)}">
                    {{ .name }}
                </option>
                {/}
            </select>
        </dd>
        <dt>Next Review</dt>
        <dd>{_goal.nextReview}</dd>
    </dl>
  </div>

<goalReviews:>
  <h2>Goal progress</h2>
  <form x-bind=submit:addReview>
    <input value={_newReview} placeholder="I enjoyed playing for 20mins today with Won" x-webkit-speech>
    <input type=submit value=Add>
  </form>
  <ul>{#each _sortedReviewList}<app:progressItem>{/each}</ul>

<progressItem:>
<li>{.timestamp}: {unescaped .comment}</li>
