<Title:>
    Open Goal Tracker: Users

<Body:>
    <app:navBar>
    <div class="container">
        <h1>Your SessionUserId: {_sessionUserId}</h1>
        <app:content>
    </div>

<content:>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>UserId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {#each _users}
            <tr>
                <td>{{.name}}</td>
                <td><a href="/users/{{.id}}/">{{.id}}</a></td>
                <td><form method="post" action="/login/"><button type="submit" name="userId" value="{{.id}}">Login</button></form></td>
            </tr>
        {/each}
    </tbody>
</table>
