body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#goal-details {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
}

#goal-details.collapsed {
    height: 0;
}
#goal-details.expanded {
    height: 150px;
}
textarea {
    display:block;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

.kanban td.over {
  border: 2px dashed #000;
}

/* Table kanban instead */
table.kanban {
    width: 100%
}
.kanban th {
    font-size: 30px
}
.kanban tbody tr {
    height: 300px
}
