@import 'nib'

body
    padding-top: 60px
    padding-bottom: 40px

#goal-details
    height: 0
    overflow: hidden
    transition: height 0.3s ease-in-out
    &.collapsed
        height: 0
    &.expanded
        height: 150px

textarea
    display:block

/* Prevent the text contents of draggable elements from being selectable. */
[draggable]
  user-select: none
  cursor: move

div.kanban
    h2
        text-align: center
.col
    height: 400px
    &.over
        border: 1px dashed #000;
.card
    width: 80%
    margin: 20px auto
    &.dragging
        opacity: 0.4
